<?xml version="1.0" encoding="utf-8"?>
<robot name="so101_test">

    <!-- Materials -->
    <material name="3d_printed">
        <color rgba="1.0 1.0 1.0 1.0"/>
    </material>
    <material name="sts3215">
        <color rgba="0.1 0.1 0.1 1.0"/>
    </material>

    <!-- Link lower_arm -->
    <link name="lower_arm_link">

        <inertial>
            <origin xyz="-0.0980701 0.00324376 0.0182831" rpy="0 0 0"/>
            <mass value="0.104"/>
            <inertia ixx="2.87438e-05" ixy="7.41152e-06" ixz="1.26409e-06" iyy="0.000159844" iyz="-4.90188e-08" izz="0.00014529"/>
        </inertial>
        
        <!-- Part motor_holder_so101_wrist_v1 -->
        <visual>
            <origin xyz="-0.0648499 -0.032 0.018" rpy="-3.14159 -2.55351e-15 -1.83387e-30"/>
            <geometry>
                <mesh filename="assets/motor_holder_so101_wrist_v1_from_stl.obj"/>
            </geometry>
            <material name="3d_printed"/>
        </visual>
        <collision>
            <origin xyz="-0.0648499 -0.032 0.018" rpy="-3.14159 -2.55351e-15 -1.83387e-30"/>
            <geometry>
                <mesh filename="assets/motor_holder_so101_wrist_v1_from_stl_ftetwild.vtk"/>
            </geometry>
            <drake:proximity_properties>
                <!-- <drake:rigid_hydroelastic/> -->
                <drake:compliant_hydroelastic/>
                <drake:hydroelastic_modulus value="1e7"/>
                <drake:mu_dynamic value="0.5"/>
            </drake:proximity_properties>
        </collision>

        <!-- Part sts3215_03a_v1_4 -->
        <visual>
            <origin xyz="-0.1224 0.0052 0.0187" rpy="-3.14159 -7.88861e-31 -3.14159"/>
            <geometry>
                <mesh filename="assets/sts3215_03a_v1_from_stl.obj"/>
            </geometry>
            <material name="sts3215"/>
        </visual>
        
    </link>

    <!-- Link wrist -->
    <link name="wrist_link">

        <inertial>
            <origin xyz="-0.000103312 -0.0386143 0.0281156" rpy="0 0 0"/>
            <mass value="0.079"/>
            <inertia ixx="3.68263e-05" ixy="1.7893e-08" ixz="-5.28128e-08" iyy="2.5391e-05" iyz="3.6412e-06" izz="2.1e-05"/>
        </inertial>

        <!-- Part wrist_roll_pitch_so101_v2 -->
        <visual>
            <origin xyz="0 -0.028 0.0181" rpy="-1.5708 -1.5708 0"/>
            <geometry>
                <mesh filename="assets/wrist_roll_pitch_so101_v2_from_stl.obj"/>
            </geometry>
            <material name="3d_printed"/>
        </visual>
        <collision>
            <origin xyz="0 -0.028 0.0181" rpy="-1.5708 -1.5708 0"/>
            <geometry>
                <mesh filename="assets/wrist_roll_pitch_so101_v2_from_stl.obj"/>
            </geometry>
            <drake:proximity_properties>
                <drake:rigid_hydroelastic/>
                <!-- <drake:compliant_hydroelastic/>
                <drake:hydroelastic_modulus value="1e7"/> -->
                <drake:mu_dynamic value="0.5"/>
            </drake:proximity_properties>
        </collision>

    </link>

    <!-- Joint from lower_arm to wrist -->
    <joint name="wrist_flex" type="revolute">
        <origin xyz="-0.1349 0.0052 3.62355e-17" rpy="4.02456e-15 8.67362e-16 -1.5708"/>
        <parent link="lower_arm_link"/>
        <child link="wrist_link"/>
        <axis xyz="0 0 1"/>
        <limit effort="1.61" velocity="4.39" lower="-3.14" upper="3.14"/>
    </joint>

    <transmission name="wrist_flex_trans">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="wrist_flex">
            <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
        </joint>
        <actuator name="motor4">
            <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
            <mechanicalReduction>1</mechanicalReduction>
            <!-- <drake:gear_ratio value="345.0" /> -->
            <!-- <drake:rotor_inertia value="0.0001321" /> -->
        </actuator>
    </transmission>

</robot>